doctype html
html(lang="de")
	head
		title MarkPad
		
		link(href="/assets/css/highlight/default.css", rel="stylesheet")
		link(href="/assets/css/style.css", rel="stylesheet")
		
		script(src="http://code.jquery.com/jquery-1.11.3.min.js")
		
		script(src="/assets/js/marked.min.js")
		script(src="/assets/js/highlight.pack.js")
		
	body(class="container-fluid")
		block main
